<!-- AUTHOR: -->
<!-- DATE: -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WockyStocks Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="icon" href="https://s3-alpha-sig.figma.com/img/3084/e5ea/6c827e172f6f9871eb0708e08ee3ba87?Expires=1615161600&Signature=WtR8enfwASRmrdHL11TH1unEP0Fw8H7uYQae4hJ5TUj2obAP7QFrFYQVA8rgJoOmcqx6pKq59AMjdla0oYciTJI~8wlG7Wg4Pnvl3J568LPqZTcYcGMgr7C4KEZ1dGHsnnyUY9N32abHtdFQNpj20vm9kgwxsSn3TDsUHWirMOwtmkGT~CeKDHvuCcWSZVDDxWQLrY05QzSTAcG15T7ZLpmdr46NjqC7rB2vZJCkYXxDZa9xxHVr6TaPVxIVXy16yrzcZcAXnMuMr2U9099EPY9qB1YP-OhBWHaDNH3LqAlQTVOkcCmhRajdoGMiY0LvnChp~rJ~4c0q~9Y6ypvZog__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">

</head>
<body>
    <div class = "header">
        <section class='search'>
            <input type="text" placeholder="Search">
        </section>
        
        <section class='title'>
            <h2> Wocky Stonks</h2>
        </section>

        <section class='sideBar' >
            <span id='sideBar' onclick="openNav()">
                <img src="https://s3-alpha-sig.figma.com/img/3084/e5ea/6c827e172f6f9871eb0708e08ee3ba87?Expires=1615161600&Signature=WtR8enfwASRmrdHL11TH1unEP0Fw8H7uYQae4hJ5TUj2obAP7QFrFYQVA8rgJoOmcqx6pKq59AMjdla0oYciTJI~8wlG7Wg4Pnvl3J568LPqZTcYcGMgr7C4KEZ1dGHsnnyUY9N32abHtdFQNpj20vm9kgwxsSn3TDsUHWirMOwtmkGT~CeKDHvuCcWSZVDDxWQLrY05QzSTAcG15T7ZLpmdr46NjqC7rB2vZJCkYXxDZa9xxHVr6TaPVxIVXy16yrzcZcAXnMuMr2U9099EPY9qB1YP-OhBWHaDNH3LqAlQTVOkcCmhRajdoGMiY0LvnChp~rJ~4c0q~9Y6ypvZog__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
            </span>
            <section class='dropDown' id='dropDown'>
                <section class="filler">

                </section>
                <section class="stonk">

                </section>
            </section>
        </section>


    </div>

    <div class ="body-content">
        <section class ="visuals">
            <section class="graph">
                words
            </section>

        </section>

        <section class = "socialFeeds">
            <section>
                <a data-width="750" data-height="300" class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </section>
            <section>
                reddit
            </section>
        </section>
    </div>

    <div class ="selectors">
        <section class="buttons">
            <label class="timeFrame">
                Daily
                <input type="radio" checked="checked" name="radio" id="daily">
                <span class="checkmark"></span>
            </label>
            <label class="timeFrame">
                Weekly
                <input type="radio" name="radio" id="weekly">
                <span class="checkmark"></span>
            </label>
            <label class="timeFrame">
                Monthly
                <input type="radio" name="radio" id="weekly">
                <span class="checkmark"></span>
            </label>
            <label class="timeFrame">
                Quarterly
                <input type="radio" name="radio" id ="quarterly">
                <span class="checkmark"></span>
            </label>
            <label class="timeFrame">
                Yearly
                <input type="radio" name="radio" id="yearly">
                <span class="checkmark"></span>
            </label>
        </section>
    </div>

    <script>
        function openNav(){
            var x = document.getElementById('dropDown').style.width;
            if(x == "15vh"){
                document.getElementById('dropDown').style.width = 0;
            }
            else{
                document.getElementById('dropDown').style.width = "15vh"
            }
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>