<!-- AUTHOR: -->
<!-- DATE: -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>WockyStocks Login</title>
</head>
<body class="darkBlue">
    
    <img class="imagePlaceholder" src="https://media3.giphy.com/media/5T0jY5SzGP9Z72L2AN/giphy.gif" alt="animatedgif">

    
    <div class="iconCollectionContainer">
        <div class="tl iconCell">
            <img class="circle" src="
            https://s3-alpha-sig.figma.com/img/3084/e5ea/6c827e172f6f9871eb0708e08ee3ba87?Expires=1615766400&Signature=NBpvoFmN-6jLxMQ9MsklwHkVd1CZOifOuNrAtfIiUlYBG7HGS3gR-y10biJNo4QgnowxqzCFvQCfRB4ds5qddXkcLVwLAY4~VKd9zKACfEkvfD5QX0fBdwFvtoRy86n85GmKXlkaAmn150je8Y~IgrzzkJVRo6D7oRsMmsDcoEtoEsV~8F-5puzizzniVA3qgbnT92RE~sltXQkKRS1jXaHfQ8ThI3FnTsDOMjnhPDbz~yM1LF72WEfDkJl0CoDSreYt0uvOSgXbhAyzK3kWEbYCULEvRjcZA6OspVHsBGgwKMj12-i6P5i2YFFjfkTy~tPHOJXVD9f0-EQ0BMxiyA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA
            " alt="andyHead">
            
            <span>Time Range</span>
        </div>
        <div class="tr iconCell">
            <img class="circle" src="
            https://s3-alpha-sig.figma.com/img/3084/e5ea/6c827e172f6f9871eb0708e08ee3ba87?Expires=1615766400&Signature=NBpvoFmN-6jLxMQ9MsklwHkVd1CZOifOuNrAtfIiUlYBG7HGS3gR-y10biJNo4QgnowxqzCFvQCfRB4ds5qddXkcLVwLAY4~VKd9zKACfEkvfD5QX0fBdwFvtoRy86n85GmKXlkaAmn150je8Y~IgrzzkJVRo6D7oRsMmsDcoEtoEsV~8F-5puzizzniVA3qgbnT92RE~sltXQkKRS1jXaHfQ8ThI3FnTsDOMjnhPDbz~yM1LF72WEfDkJl0CoDSreYt0uvOSgXbhAyzK3kWEbYCULEvRjcZA6OspVHsBGgwKMj12-i6P5i2YFFjfkTy~tPHOJXVD9f0-EQ0BMxiyA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA
            " alt="andyHead">
            <span>Time Range</span>
        </div>
        <div class="bl iconCell">
            <img class="circle" src="
            https://s3-alpha-sig.figma.com/img/3084/e5ea/6c827e172f6f9871eb0708e08ee3ba87?Expires=1615766400&Signature=NBpvoFmN-6jLxMQ9MsklwHkVd1CZOifOuNrAtfIiUlYBG7HGS3gR-y10biJNo4QgnowxqzCFvQCfRB4ds5qddXkcLVwLAY4~VKd9zKACfEkvfD5QX0fBdwFvtoRy86n85GmKXlkaAmn150je8Y~IgrzzkJVRo6D7oRsMmsDcoEtoEsV~8F-5puzizzniVA3qgbnT92RE~sltXQkKRS1jXaHfQ8ThI3FnTsDOMjnhPDbz~yM1LF72WEfDkJl0CoDSreYt0uvOSgXbhAyzK3kWEbYCULEvRjcZA6OspVHsBGgwKMj12-i6P5i2YFFjfkTy~tPHOJXVD9f0-EQ0BMxiyA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA
            " alt="andyHead">
            <span>Time Range</span>
        </div>
        <div class="br iconCell">
            <img class="circle" src="
            https://s3-alpha-sig.figma.com/img/3084/e5ea/6c827e172f6f9871eb0708e08ee3ba87?Expires=1615766400&Signature=NBpvoFmN-6jLxMQ9MsklwHkVd1CZOifOuNrAtfIiUlYBG7HGS3gR-y10biJNo4QgnowxqzCFvQCfRB4ds5qddXkcLVwLAY4~VKd9zKACfEkvfD5QX0fBdwFvtoRy86n85GmKXlkaAmn150je8Y~IgrzzkJVRo6D7oRsMmsDcoEtoEsV~8F-5puzizzniVA3qgbnT92RE~sltXQkKRS1jXaHfQ8ThI3FnTsDOMjnhPDbz~yM1LF72WEfDkJl0CoDSreYt0uvOSgXbhAyzK3kWEbYCULEvRjcZA6OspVHsBGgwKMj12-i6P5i2YFFjfkTy~tPHOJXVD9f0-EQ0BMxiyA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA
            " alt="andyHead">
            <span>Time Range</span>
        </div>
    </div>

    <div class="loginContainer rounded">

        <section class="box1 title">
            <h1 class="logo-text"> Wocky Stonks </h1>
        </section>

        <section class="box2">
            
            <div class=inputContainer>
                <section class="labelContainer">
                    <label for="email" class=" label ">Email:</label>
                    <label for="password" class=" ">Password: </label>
                </section>
                
                <section class="textFieldContainer">
                    <input type="email" name="email" class="" id="me">
                    <input type="password" name="password" class=""> 
                </section>
            </div>

        </section>

        <section class="box3">
            <button class="submitButton" type="submit">Login</button>
        </section>
    </div>




    <!-- Login Container -->
    <!-- <div class="signInContainer rounded">

        <span class="logo-text"> Wocky Stocks </span>

        <div>
            <section class="inputContainer">
                <label for="email" class="input-text ">Email:</label>
                <input type="email" name="email" class="rounded">
            </section>
            <section class="inputContainer">
                <label for="password" class="input-text">Password: </label>
                <input type="password" name="password" class="rounded"> 
            </section>
        </div>

        <button type="submit" class="submitButton rounded">Login</button>
            
    </div> -->
</body>

<!-- Add ticker footer here -->
</html>