/*****Footer Box Styling*******/
.footer {
    position: absolute;
    display: flex;
    flex-direction: row;

    overflow: hidden;
  
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 5.5%;
    width: 100%;
  }
  
  /****Ticker Box Styling*****/
  .box {
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
    width: 33.99999%;
    height: 100%;

    overflow: hidden;
  }
  
  .description{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: baseline;
    
    top: 0px;
    bottom: 10px;
    height: 100%;
  }
  
  .titlePosition {
    /* background-color: red; */
    color: black;

    text-align: flex-start;
    
    top: 0px;
    right: 0px;
    left: 0px;
    height: 0%;
    width: 100%; 
  }
  
  .text-style {
    font-family: Garamond;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #c4c4c4;
  }s
  
  .index {
    font-family: Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    color: white;
  }
  