<html>
    <body>
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Flows in Cash Market on 22nd April 2021<br><br>👎FIIs: net sold ₹910cr<br>👍DIIs: net bought ₹850cr<br><br>Nifty hits a century today but it’s was a draw between institutions 🤔 <a href="https://twitter.com/hashtag/StockMarket?src=hash&amp;ref_src=twsrc%5Etfw">#StockMarket</a></p>&mdash; Nigel D&#39;Souza (@Nigel__DSouza) <a href="https://twitter.com/Nigel__DSouza/status/1385214611926880262?ref_src=twsrc%5Etfw">April 22, 2021</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </body>
</html>